html,
body {
  height: 100%;
  margin: 0;
}
html body {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

#nprogress .bar {
  height: 1px !important;
  background: #fec249 !important;
}

#npropress .bar .peg {
  box-shadow: 0 0 10px #fec249, 0 0 5px #fec249;
}

/* 单行溢出隐藏 */
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 两行溢出隐藏 */
.two-txt-cut {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}

.sg-page {
  height: 100%;
  background: #f4f7f9;
}

.sg-fixed-bottom {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  z-index: 999;
}
